{% for mission in missions %}
<div class="card bg-base-100 shadow-xl m-2" data-image="{{ mission.image_name }}">
    <div class="card-body">
        <div class="card-header flex justify-between">
            <h2 class="card-title justify-center">
                {{ mission.map_name }}
            </h2>
            <button class="btn btn-md btn-neutral"
                onclick="navigator.clipboard.writeText('{{ mission.mmt_code }}');CrispyToast.success('{{ ui_translations.copy_success }}', { position: 'bottom-right'})">
                {{ ui_translations.copy_btn }}
            </button>
        </div>
        <div class="card-actions justify-between items-center">
            <div>
                <div class="badge badge-secondary">{{ mission.mission_type }}</div>
                <div class="badge badge-accent">{{ mission.difficulty }}</div>
                <div class="badge badge-ghost">{{ mission.book }}</div>
                <div class="badge badge-ghost">{{ mission.started_time }}</div>
            </div>
            <div class="badge badge-ghost gap-2">
                <div class="credits flex gap-1 flex-row items-center">
                    <img class="size-4 credits-icon"
                        src="https://raw.githubusercontent.com/OtwakO/darktide-mission/refs/heads/main/assets/icons/credits.png">
                    <span>{{ mission.credits }}</span>
                </div>
                <div class="xp flex flex-row items-center">
                    <img class="size-4 xp-icon"
                        src="https://raw.githubusercontent.com/OtwakO/darktide-mission/refs/heads/main/assets/icons/xp.png">
                    <span>{{ mission.xp }}</span>
                </div>
            </div>
        </div>
        <div class="divider m-0 p-0"></div>
        <div class="card-actions">
            {% for modifier in mission.modifiers %}
            <div class="badge badge-accent badge-outline">{{ modifier}}</div>
            {% endfor %}
        </div>
    </div>
</div>
{% endfor %}